<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brooke Offshore - The Manpower Solutions Company</title>
<link href="{{ asset('bundles/pages/stylesheet/main.css') }}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{{ asset('logomini.ico') }}">
<link href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>

</head>

<body class="background_color">

<div class="main_background_image">
        
        <!---------- LEFT COLUMN ---------->
<div id="left_column">

		<div class="main_logo">
        <img src="{{ asset('bundles/pages/images/brooke_offshore_logo.png') }}" />
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="main_navigation">
        <ul class="main_navigation_text">
        <li><a href="{{ path('home_page') }}" target="_self">HOME</a></li>
        <li>ABOUT US</li>
        <li><a href="{{ path('services_page') }}" target="_self">SERVICES</a></li>
        <li><a href="{{ path('contact_us') }}" target="_self">CONTACT US</a></li>
        </ul>
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="seperator">
        <img src="{{ asset('bundles/pages/images/seperator.gif') }}" />
        </div>
        
        <div style="clear: both;"></div>
       
        <div id="left_content_box">
        <div class="left_content_box_aboutus">
        We are focused on benefiting our shareholders and stakeholders through constant product innovation and sustained profitability. We employ the best practices to ensure consistency and excellence in every assignment by providing professional staffing services with our comprehensive knowledge and vast experience of the industry. 
        <p>We strive to become the industry leader in staffing services for both job seekers and employers. By continuing to pursue excellence in products and services, we achieve a leading position globally through constant enhancement and innovative product development. We aim to be an integral and dependable partner throughout the staffing process. In this way, not only can Brooke Offshore meet its clients' requirements but also exceed their expectations and value add to their business.</p>
        </div>
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="secondary_logo">
        <a href="login.html"><img src="{{ asset('bundles/pages/images/secondary_logo.png') }}" /></a>
        </div>
        
</div>
        <!---------- END LEFT COLUMN ---------->
        
        <!---------- RIGHT COLUMN ---------->
<div id="right_column">
        
        <div class="login_text">
    	<a href="{{ path('fos_user_security_crewlogin') }}" target="_self">CREW</a><label>|</label><a href="{{ path('fos_user_security_login') }}" target="_self">CLIENT</a><label style="color:#d67936;font-weight:bold;">LOGIN:</label>
</div>
        
        <div style="clear: both;"></div>
        
        <div class="right_image">
        <img src="{{ asset('bundles/pages/images/about_us_image.jpg') }}" width="615" height="577" />
        </div>
</div>
                

	</div>
</body>
</html>
