<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brooke Offshore - The Manpower Solutions Company</title>
<link href="{{ asset('bundles/pages/stylesheet/main.css') }}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{{ asset('logomini.ico') }}">
<link href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>

</head>

<body class="background_color">

<div class="main_background_image">
        
        <!---------- LEFT COLUMN ---------->
<div id="left_column">

		<div class="main_logo">
        <img src="{{ asset('bundles/pages/images/brooke_offshore_logo.png') }}" />
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="main_navigation">
        <ul class="main_navigation_text">
        <li><a href="{{ path('home_page') }}" target="_self">HOME</a></li>
        <li><a href="{{ path('about_us') }}" target="_self">ABOUT US</a></li>
        <li>SERVICES</li>
        <li><a href="{{ path('contact_us') }}" target="_self">CONTACT US</a></li>
        </ul>
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="seperator">
        <img src="{{ asset('bundles/pages/images/seperator.gif') }}" />
        </div>
        
        <div style="clear: both;"></div>
       
        <div id="left_content_box">
        <div class="left_content_box_services">
        In order to ensure that our clients receive the best possible professional and skilled talent required for their project.  We execute a strictly regulated selection process that emphasizes on qualifications, and safety training adhering to international industry regulations. But what truly sets us apart is our consistent efforts to improve our services not only to our clients, but for the personnel we work- caring for their well being.
        <p><br />Here are our base services that we offer:</p>
        <ul class="services_menu_text">
       	<li><a href="{{ path('services_page') }}" target="_self">Skilled & Professional Recruitment</a> <font color="#808080" size="+1">+</font></li>
        <li><a href="{{ path('services_medicalexaminations_page') }}" target="_self">Medical Examinations for Employment</a> <font color="#808080" size="+1">+</font></li>
        <li><a href="{{ path('services_seasurvival_page') }}" target="_self">Sea Survival & Basic Firefighting</a> <font color="#808080" size="+1">+</font></li>
        <li>International Insurance Coverage <font color="#808080" size="+1">+</font></li>
        <li><a href="{{ path('services_flighthotel_page') }}" target="_self">Flight & Hotel Booking</a> <font color="#808080" size="+1">+</font></li>
        <li><a href="{{ path('services_visaprocessing_page') }}" target="_self">Visa Processing</a> <font color="#808080" size="+1">+</font></li>
        </ul>
        </div>
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="secondary_logo">
        <a href="../login.html"><img src="{{ asset('bundles/pages/images/secondary_logo.png') }}" /></a>
        </div>
        
</div>
        <!---------- END LEFT COLUMN ---------->
        
        <!---------- RIGHT COLUMN ---------->
<div id="right_column">
        
        <div class="login_text">
    	       <a href="{{ path('fos_user_security_crewlogin') }}" target="_self">CREW</a><label>|</label><a href="{{ path('fos_user_security_login') }}" target="_self">CLIENT</a><label style="color:#d67936;font-weight:bold;">LOGIN:</label>
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="right_image_services">
        <img src="{{ asset('bundles/pages/images/services_image.jpg') }}" width="615" height="446" />
        </div>
        
        <div style="clear: both;"></div>
        
        <div class="right_services_content">
        <p class="right_services_content_text">In addition to encouraging our personnel to have their own personal insurances in place. Brooke Offshore personnel are covered with Workmen's Compensation Insurance and Comprehensive General Liability by Lloyds of London.  Our personnel are adequently covered and compensated in the event of injury or untimely circumstances. </span>
        </div>
                
</div>
                

</div>
</body>
</html>
