{% extends 'LyHrmBundle::crewBaseframe.html.twig' %}



{% block title %}Crew Edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

	<div class="row">	
		<div class="small-12 columns">
			<h1>{{ user.firstname }} {{ user.lastname }} <span class="subtitle gray">{{ user.nationality }}</span></h1>
			<hr />
			
			{{ form(form) }}	
				
				
		</div>		
	</div>






       
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	

{% endblock %}

